<table >
    <% for(var i=0; i<info.length; i++) {%>
         <tr>
                 <td><%= info[i].f_pk %></td>
                 <td><%= info[i].l_date %></td>
                 <td><%= info[i].l_thing %></td>
                 <td><%= info[i].l_fk %></td>
         </tr>
    <% } %>
 </table>